extends ../../layout

block title
    title Mission 1 Season 1 [Nobug]

block content
    h1 Algorithm Practice [NoBug]
    h3 
        a(href="/alg") Season 1 
        |Mission 1

    p We do have some prerequirement
    ul
        li You need a github account.
        li You need know a little bit about how git works.

    h4 Mission 1
    ul
        li Login with your github account
        li Fork 
            a(href="") this respository on github
        li Add a folder (named by your nick name)
        li Add a Readme.md file in this folder, introduce yourself
        li Commit & Push to the repository you forked
        li Commit a pull request to the original one.

    p Any question, contact us by 
        a(href='mailto:xxx') email
        |. We will answer no matter what it is. 
    p Please don't let this first Mission beat you down. Don't give up before you start