extends ../../layout

block title
    title Mission 1 Season 1 [Nobug]

block content
    h1  [NoBug]&nbsp;
        a(href='/alg') Season 1
        |&nbsp;Mission 1
    h3 Introduction
    div
        p Hi everyone, Here is your first mission. Due date is [5/21/2014].
        p Please don't let this first mission beat you. Don't give up before you start.
    h3 Pre Requirement
    ul
        li You definitely need a&nbsp;
            a(href='http://github.com', target='_blank') Github account.
        li You need to know a little bit about how git works.
        li You need to know a little bit about markdown (optional).

    h3 Mission 1 Detail:
    ol
        li
            a(href='http://techpuppies.wenguer.com/', target='_blank') Login
            |&nbsp;with your github account
        li Fork&nbsp;
            a(href='https://github.com/TechPuppies/NoBugAlg', target='_blank') this respository on github
        li Add a folder (named by your nickname) in&nbsp;
            b members
        li Add a Readme.md file in this folder, introduce yourself
        li Commit & Push to the repository you forked
        li Commit a pull request to the original one.
    h3 Q&A
    div
        p Any question, please don't hesitate to&nbsp;
            a(href='http://google.com', target='_blank') Google it
        p Still have it? Post on facebook, we will try to answer your question.
        p Wanna some privacy? Leave a comment || create an issue in your own repository on Github.
        p Wanna more privacy? Contact us by email:&nbsp;
            a(href="mailto:techpuppies.wenguer@gmail.com") techpuppies.wenguer@gmail.com
    h3 Comments
    div.fb-comments(data-href="http://techpuppies.wenguer.com/alg/s1/m1",data-numposts="5",data-colorscheme="light")

