extends ../../layout

block title
    title Mission 1 Season 2 [Nobug]

block content
    h1  [NoBug]&nbsp;
        a(href='/alg') Season 1
        |&nbsp;Mission 2
    h3 Introduction
    div
        p Hi everyone, Here is your 2nd mission. Due date is [5/24/2014].

    h3 Mission 2 Detail [Search for a Range]
    p Given a sorted array of integers, find the starting and ending position of a given target value.
    p Your algorithm's runtime complexity must be in the order of O(log n).
    p If the target is not found in the array, return [-1, -1].
    p For example,
    p Given [5, 7, 7, 8, 8, 10] and target value 8,
    p return [3, 4].
    h3 Q&A
    div
        p Any question, please don't hesitate to&nbsp;
            a(href='http://google.com', target='_blank') Google it
        p Still have it? Post on facebook, we will try to answer your question.
        p Wanna some privacy? Leave a comment || create an issue in your own repository on Github.
        p Wanna more privacy? Contact us by email:&nbsp;
            a(href="mailto:techpuppies.wenguer@gmail.com") techpuppies.wenguer@gmail.com
    h3 Comments
    div.fb-comments(data-href="http://techpuppies.wenguer.com/alg/s1/m2",data-numposts="5",data-colorscheme="light")

