extends ../../layout

block title
    title Mission 1 Season 4 [Nobug]

block content
    h1  [NoBug]&nbsp;
        a(href='/alg') Season 1
        |&nbsp;Mission 4
    h3 Introduction
    div
        p Here is your 4th mission. Due date is [5/29/2014].
    h3 Mission 4 Detail [Minimum Window Substring]
    p Given a string S and a string T, find the minimum window in S which will contain all the characters in T in complexity O(n).
    p &nbsp;
    p For example,
    p S = "ADOBECODEBANC"
    p T = "ABC"
    p Minimum window is "BANC".
    p &nbsp;
    p Note:
    p If there is no such window in S that covers all characters in T, return the emtpy string "".
    p &nbsp;
    p If there are multiple such windows, you are guaranteed that there will always be only one unique minimum window in S.
    h3 Q&A
    div
        p Any question, please don't hesitate to&nbsp;
            a(href='http://google.com', target='_blank') Google it
        p Still have it? Post on facebook, we will try to answer your question.
        p Wanna some privacy? Leave a comment || create an issue in your own repository on Github.
        p Wanna more privacy? Contact us by email:&nbsp;
            a(href="mailto:techpuppies.wenguer@gmail.com") techpuppies.wenguer@gmail.com
    h3 Comments
    div.fb-comments(data-href="http://techpuppies.wenguer.com/alg/s1/m3",data-numposts="5",data-colorscheme="light")

