extends ../../layout

block title
    title Mission 1 Season 6 [Nobug]

block content
    h1  [NoBug]&nbsp;
        a(href='/alg') Season 1
        |&nbsp;Mission 6
    h3 Introduction
    div
        p Here is your 6th mission. Due date is [6/4/2014].
        p It seems like mission 4 is a little bit harder. Hope this one is easier. Good luck.
    h3 Mission 6 Detail [Distinct Subsequences]
    p Given a string S and a string T, count the number of distinct subsequences of T in S.
    p A subsequence of a string is a new string which is formed from the original string by deleting some (can be none) of the characters without disturbing the relative positions of the remaining characters. (ie, "ACE" is a subsequence of "ABCDE" while "AEC" is not).
    p Here is an example:
    p S = "rabbbit", T = "rabbit"
    p Return 3.
    h3 Comments
    div.fb-comments(data-href="http://techpuppies.wenguer.com/alg/s1/m6",data-numposts="5",data-colorscheme="light")

