extends ../../layout

block title
    title Mission 1 Season 8 [Nobug]

block content
    h1  [NoBug]&nbsp;
        a(href='/alg') Season 1
        |&nbsp;Mission 8
    h3 Introduction
    div
        p Here is your 8th mission. Due date is [8/4/2014].
    h3 Mission 8 Detail [Climbing Stairs ]

    p You are climbing a stair case. It takes n steps to reach to the top.
    p Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?

    h3 Comments
    div.fb-comments(data-href="http://techpuppies.wenguer.com/alg/s1/m8", data-numposts="5",data-colorscheme="light")

