extends ../layout

block title
    title Algorithm Practive [NoBug]
block content
    h1 Algorithm Practive [NoBug]
    p Welcome everyone, here is your mission[s]:

    ul
        li 
            a(href="/alg/s1/m1") [5/16/2014 - 5/19/2014]
            |&nbsp;Intro to Github & Introduce Yourself

    p Every mission, your result will be scored by us or by each other.
    p In the end, prizes we buy from Google will be granted to the top 3 programmers.
    p We are still choosing the prizes, so make a wish in your readme.md asap! Value less than 20$ please :) 