extends ../layout

block title
    title [NoBug] Algorithm Practice
block content
    h1 [NoBug] Algorithm Practice
    h3 What is this?
    p This is an project for a group of tech puppies (entry level programmers) to practice their
        b  Algorithms
        |  and
        b  Github skills
        |.
    h3 Missions
    p Welcome everyone, here is your mission[s]:
    ol
        li
            a(href="/alg/s1/m1") [5/19/2014 - 5/21/2014]
            |&nbsp;Intro to Github & Introduce Yourself
            ul
                li
                    a(href="https://help.github.com/articles/syncing-a-fork" target="_blank") Github +: Syncing a fork (you need to know)
        li
            a(href="/alg/s1/m2") [5/22/2014 - 5/24/2014]
            |&nbsp;Search for a Range
        li
            a(href="/alg/s1/m3") [5/25/2014 - 5/26/2014]
            |&nbsp;Pairs of Subtraction
        li
            a(href="/alg/s1/m4") [5/27/2014 - 5/29/2014]
            |&nbsp;Minimum Window Substring
        li
            a(href="/alg/s1/m5") [5/30/2014 - 6/1/2014]
            |&nbsp;Candy
        li
            a(href="/alg/s1/m6") [6/2/2014 - 6/4/2014]
            |&nbsp;Distinct Subsequences
    h3 LeaderBoard
    p You can't get any star from discussion with me offline. You need to contribute to the NoBugAlg repository.
    table
        tr
            td Charlie
            td
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star
        tr
            td John
            td
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-half
        tr
            td Mark
            td
                i.fa.fa-star
                i.fa.fa-star
                i.fa.fa-star-half
        tr
            td(width='120') Alex
            td(width='80')
                i.fa.fa-star
                i.fa.fa-star-half
            td
                small Improve your 'Readme.md' to get a full star.
    h3 Rules
    p Every mission, stars will be granted accordingly with your performance.
    p In the end, prizes brought from Google will be granted to the top 3 programmers.
    p We are still choosing the prizes, you can make a wish in your readme.md a.s.a.p.!
    p (value less than 20$ please&nbsp;
        i.fa.fa-smile-o
        |&nbsp;)
    h3 Handy Links
    ul
        li
            a(href='https://github.com/TechPuppies/NoBugAlg', target='_blank') NoBugAlg
        li
            a(href='https://www.facebook.com/pages/Tech-Puppies/657430704304874', target='_blank') Facebook Page
        li
            a(href='https://www.facebook.com/groups/699989890063743/', target='_blank') Facebook group
        li
            a(href='//Google.com', target='_blank') Google
        li
            a(href='http://stackoverflow.com/', target='_blank') StackOverflow
        li
            a(href='mailto:techpuppies.wenguer@gmail.com') Email: techpuppies.wenguer@gmail.com
    h3 Comments
    div.fb-comments(data-href="http://techpuppies.wenguer.com/alg",data-numposts="5",data-colorscheme="light")
